nav{
    background-color: #f779da;
}

.delete-all{
    background-color: red;
    color: white;

    &:hover{
        background-color: #f779da;
    }
}

.content{
    margin-top: 70px;
}

.box{
    margin: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: #f779da;
    padding: 10px;
    color: white;

    h2{
        text-align: center;
    }
    ul{
        width: 100%;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
    }
    li{
        margin: auto;
        float: left;
        a{
            width: 100%;
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
        }
        .tit{
            font-weight: bold;
        }

        //bit.ly/2T8HJQH
    }
}

.my-post{
    margin-top: 20px;
    background-color: #f779da;
    border-radius: 10px;
    padding: 10px;
    *{
        color: white;
    }
    img{
        width: 100%;
        border-radius: 50%;
    }
}